html {
    font-family: "Montserrat", sans-serif;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    display: flex;
    background-color: #FFFFFF;
}

.container {
    overflow-x: hidden;
    width: 100%;
    text-align: center;
}
.container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.container::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.container::-webkit-scrollbar-thumb {
    background-color: #0043af;
}

header {
    background-color: #FFFFFF;
    color: white;
    width: 100%;
}

header .center {
    text-align: center;
    padding: 2em;
}

header h1 {
    margin: 0;
    font-size: 4vw;
}

header p {
    margin: 1vh 0;
}

.paragraph {
    background-color: #0056DF;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
}
.paragraph p {
    padding-left: 30vw;
    padding-right: 30vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: large;
}

.reveal{
    color: #FF6600;
    font-weight: bold;
}
.reveal-blk{
    color: #000;
    font-weight: bold;
}

.contain {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transcript-button {
    background-color: #FF6600;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;
}

.transcript-button:hover {
    background-color: #ff4500;
}

/* Responsive Design */
@media (min-width: 1024px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    header {
        flex: 0 0 auto;
        width: 100%;
        text-align: left;
    }

    header h1 {
        font-size: 3rem;
    }

    header p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1223px) {
    body {
        background-color: #f0f0f0;
        display: flex;
    }

    .paragraph p{
        width: 70vw;
        padding: 5vw;
        text-align: center;
        margin: 0 auto;
        font-size: 1rem;
    }

    .transcript-button {
        background-color: #FF6600;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 2em;
    }
    .container {
        background-color: #FFFFFF;
        text-align: center;
    }

}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url("./img/texte.svg");
    background-repeat: repeat;
    background-size: 11%;
    /* Ajustez cette valeur pour changer la taille du logo */
    animation: scrollBackground 20s linear infinite;
}
@keyframes scrollBackground {
    from {
        background-position: 0% 75%;
    }

    to {
        background-position: 100% 25%;
    }
}

.modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.surpuissant-alt{
    margin: 0 auto;
}

.modal-content {
    background-color: #fefefe;
    border: 2px solid rgba(0, 86, 224, 0.8);
    border-radius: 0.5em;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: popup 3s ease forwards;
    /* Ajout de l'animation */
}

.modal-footer {
    text-align: center;
    padding: 10px 0;
}

.modal-close-button {
    background-color: #FF6600;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.modal-close-button:hover {
    background-color: #ff4500;
}

.result-text {
    font-size: 3em;
    color: #0056DF;
    margin: 10px 0;
}